/* Styling for Breadcrumb. */

.breadcrumb {
    ul {
        padding: 0;
        @include flex-row;
        list-style: none;
    }
    li {
        font-size: 0.8em;
        &:not(:last-child) {
            @include flex-row;
            align-items: center;
            &:after {
                content: "\BB";
                margin: 0 5px;
                font-size: 1em;
            }
        }
        &:first-child {
            &:before {
                @extend .fa;
                margin-right: 0.4em;
            }
            @extend .fa-home;
        }
    }
}