/* Components that would be used through out for details pages. */

#system-themes-page {
    @extend article;
}
.col-2 {
    width: calc(10%*2);
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.box-wrap {
    header {
        z-index: 10;
    }
    .box {
        background: #fff;
        margin: 10px;
        border-radius: 8px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        &:hover {
            box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
        }
        header {
            border-bottom: solid 1px #eee;
            padding: 1em 0;
            position: relative;
            background: transparent;
            box-shadow: none;
            top: 0;
            padding: 0;
            left: inherit;
            right: inherit;
            h3 {
                text-align: center;
                color: #999;
                font-weight: 300;
                font-size: 1.2em;
            }
            i {
                display: block;
                font-size: 1.2em;
                margin-bottom: 0.5em;
                color: #748ac1;
                font-style: normal;
            }
        }
        .desc {
            font-size: 0.9em;
            color: #888;
            text-align: center;
            padding: 0 10px;
        }
    }
    .card {
        padding: 10px;
    }
    .action-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        i {
            font-style: normal;
            padding-right: 0.9em;
        }
        li {
            display: block;
            height: 40px;
            font-weight: 300;
            font-size: 0.9em;
            a {
                display: block;
                height: 40px;
                box-sizing: border-box;
                line-height: 40px;
                border: solid 1px #eee;
                border-bottom: none;
                padding: 0 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    background: #6175a8;
                    color: $color_white;
                    i {
                        color: $color_white;
                    }
                }
            }
            &:first-child {
                a {
                    border-radius: 6px 6px 0 0;
                }
            }
            &:last-child {
                a {
                    border-bottom: solid 1px #eee;
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }
}

label {
    &[for*="-field-description-english-"],
    &[for*="-field-description-indonesian-"] {
        &:before {
            content: "Uflag ";
            color: transparent;
            background: url("../images/usflag.png") no-repeat scroll 0 0 transparent;
            width: 28px;
            // height: 20px;
            background-size: contain;
        }
    }
    &[for*="-field-description-indonesian-"] {
        &:before {
            background: url("../images/indonflag.png") no-repeat scroll 0 0 transparent;
            background-size: contain;
            border: 1px solid $color_grey_light;
            content: "Indo";
            margin-right: 0.4em;
        }
    }
}