/* Mixins */

$breakpoints: (
  'xsmall' : (min-width: 320px),
  'small'  : ( min-width:  700px ),
  'medium' : ( min-width:  950px ),
  'large'  : ( min-width: 1100px )
);
 
@mixin media_query($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}



