/* Variables */

//== Colors
//
//## Colors that has been used across the Our Partner site.

$color_white: #fff;
$color_black: #000;
$color_dark_grey: #222222;
$color_white_smoke: #f3f3f3;
$color_white_off: #F1F1F1;
$color_grey_light: #ddd;
$color_links: #6175a8;
$color_links_active: #2e51a8;
$color_menu: #777;
$color_background: #eee;
$color_green: #5ead61;

//## Brand Colors



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family_sourcesansproregular: "Source Sans Pro";
$font-family_sourcesansprobold: "Source Sans Pro Bold";
$font-family_sourcesansproextralight: "Source Sans Pro Light";
// $font-family_sourcesanspromedium: "Source Sans Pro Medium", sans-serif;


